.taskListWrapper {
    --task-wrapper-border-radius: 10px;
    --task-wrapper-border-width: 2px;

    display: flex;
    flex-direction: column;
    padding: var(--mantine-spacing-xl);
    position: relative;
}

.taskBurgerWrapper {
    display: flex;
    width: 100%;
    gap: var(--mantine-spacing-md)
}

.taskTextWrapper {
    width: 100%;
    padding-right: var(--mantine-spacing-md)
}

.taskArrowWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.taskIndex {
    width: 100%;
    text-align: center;
}

.unselectable {
    pointer-events: auto;
    -webkit-user-drag: none;
    user-select: none;
}

.taskWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: fit-content;
    padding: var(--mantine-spacing-sm);
    width: 100%;

    border: var(--task-wrapper-border-width) white solid;
    border-top: none;
    border-bottom: var(--task-wrapper-border-width) dimgray dashed;
    
    &[data-top-task] {
        border-top: var(--task-wrapper-border-width) white solid;
        border-radius: var(--task-wrapper-border-radius) var(--task-wrapper-border-radius) 0px 0px;
    }

    &[data-empty-task] {
        text-align: center;
        display: block;
    }
}

.newTaskButton {
    padding: var(--mantine-spacing-md);
    height: 96px;

    border: var(--task-wrapper-border-width) solid white;
    border-top: none;
    border-radius: 0px 0px var(--task-wrapper-border-radius) var(--task-wrapper-border-radius);

}